@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Roboto+Slab:wght@400;500&family=Roboto:wght@300;400;500;900&family=Rubik&family=Young+Serif&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    background-color: black;
}
.container{
    margin: 0rem 5rem;
}
.header-part{
    background-color: black;
    width: 100%;
    height: 5rem;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav ul{
    display: flex;   
    justify-content: space-between;
}
.header-nav li{
    padding: 0rem 3rem;
    list-style-type: none;
    font-weight: 700;
}
.header-nav a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}
.header-nav a:hover{
    color: #01d7db;    
}
.logo{
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
}
.blue-span{
    color: #01d7db;
}
.intro-part{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-part img{
    width: 66rem;
}
.intro-content .first-p{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    
}
.intro-content h1{
    font-size: 7rem;
    
}
.second-p{
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;

}
.intro-content button{
    background-color: #01d7db;
    border: none;
    border-radius: 6rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    text-shadow: 0rem 0rem .6rem black;
    font-weight: 700;
    padding: 2rem;
    color: white;
    transition: .2s ease-in-out;

}
.intro-content button:hover{
    background-color: white;
    color: black;
    transition: .2s ease-in-out;
    text-shadow: 0rem 0rem 0rem beige;
}
.line{
    border-bottom: .5rem solid #8dfdff;
}
.about-part{
    color:white;
    background-color: black;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}
.about-img img{
    width: 30rem;
    border-radius: 1rem;
}
.about-content h1{
    font-size: 10rem;
}
.fp{
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;

}
.sp{
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 1.9rem;
    
}
.education-part{
    background-color: black;
    height: 90vh;
    color: white;
}
.education-part .pahla-h{
    font-size: 5rem;
    text-align: center;
    padding-top:3rem;
}
.education-part p{
    font-family: 'Roboto Slab', serif;

}
.education-hori-line{
    border-top: .8rem solid #ffffff;
    width: 60%;
    position: relative;
    left: 22rem;
}
.education-verti-line{
    border-right: 1rem solid #ffffff;
    width: 2rem;
    height: 40rem;
    position: relative;
    left: 53rem;
}
i[class="fa-solid fa-circle"]{
    font-size: 3rem;
    color: #01d7db;
    position: relative;
    left: 53rem;
    bottom: 35rem;
}
i[class="fa-solid fa-circle dusra"]{
    font-size: 3rem;
    color: #01d7db;
    position: relative;
    left: 49.7rem;
    bottom: 23rem;
}
i[class="fa-solid fa-circle tisra"]{
    font-size: 3rem;
    color: #01d7db;
    position: relative;
    left: 46.4rem;
    bottom:10rem;
}
.post-graduation,.under-graduation,.school{
    color: white;
}
.post-graduation{
    text-align: right;
    letter-spacing: .1rem;
    position: relative;
    bottom: 37.5rem;
    right: 61rem;
}
.post-graduation p{
    font-size: 1.6rem;
    padding: .4rem;
}   
.school{
    text-align: right;
    letter-spacing: .05rem;
    position: relative; 
    bottom: 30.6rem;
    right: 61rem;
}
.school p{
    font-size: 1.5rem;
    padding: .4rem;
} 
.under-graduation{
    letter-spacing: .05rem;
    position: relative; 
    bottom: 33rem;
    left: 58rem;
}
.under-graduation p{
    font-size: 1.5rem;
    padding: .4rem;
} 
a[id="intro"]{
    padding: 10rem;
}
a[id="education"]{
    padding: 2rem;
}
.skill-part{
    background-color: black;
    height: 100vh;
}
.skill-heading{
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
}
.box{
    width: 20rem;
    background-image: linear-gradient(to right,white,#01d7db) ;
    margin: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}
.box:hover{
    background-image: linear-gradient(to left,white,#01d7db) ;

}
.first-two{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}
.first-three{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

}
.last-two{
    display: flex;
    justify-content: space-around;

}
.last{
    width: 25rem;
}
.skill-part img{
    width: 10rem;
}
.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;

}
.banner{
    background-color: #04e0e4;
    height: 15rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    padding-top: 2rem;
}
.banner button{
    font-size: 1.5rem;
    border: none;
    border-radius:2rem;
    margin-top: 2rem;
    background-color: red;
    color: white;
    font-weight: 800;
    transition: .2s ease-in-out;
    padding: 1.5rem;
}
.banner button:hover{
    color: red;
    background-color: white;
    transition: .2s ease-in-out;
}
.project-part{
    color: white;
    background-color: black;
    height:95vh;
}
.project-heading{
    font-size: 3rem;
    padding-top: 5rem;
    text-align: center;
}
.project-part img{
    width: 100%;
    height: 100%;
}
.project-grid{
    padding-top: 5rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 2rem;
}
.item{
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
}
.item img{
    border-radius: 3rem;
    display: block;
    transition: transform 0.4s;
}
.item-content{
    color: black;
   width: 100%;
   height:0;
   border-radius: 3rem;
   background-image: linear-gradient(rgba(255, 255, 255, 0.608),#04e0e4db);
   position: absolute;
   left: 0;
   bottom: 0;
   overflow:hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 2rem;
   transition: height 0.4s;
}
.item-content p{
    font-size: 1.3rem;
}
.item-content h3{
    font-size: 2.2rem;
    padding: 2rem 0rem;
    font-family: 'Roboto Slab', serif;

}
.item:hover img{
    transform: scale(1.1);
}
.item:hover .item-content{
    height: 100%;
}
.project-part button{
    padding: 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 900;
    color: white;
    background-color: #01d7db;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5rem;    
    transition: .2s ease-in-out;
}
.project-part button:hover{
    background-color: white;
    color: black;
    transition: .2s ease-in-out;
}
.contact-part{
    color: white;
}
.contact-content{
    background-color: black;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 7rem;
}
.contact-right form{
    display: flex;
    flex-direction: column;
}
.contact-left h2{
    font-size: 6rem;
    padding-bottom: 2rem;
}
.email,.phone{
    display: flex;
    gap: 0.8rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
}
.blue{
    color: #01d7db;
}
.nav-icon{
    font-size: 2.5rem;
    padding-top: 3rem;
}
.nav-icon i{
    padding-right: 1.6rem;
}
.nav-icon i:hover{
    color: #01d7db;
}
.contact-part button{
    padding: 1.5rem;
    border: none;
    border-radius: 0 1.5rem 1.5rem 0;
    font-size: 1.6rem;
    background-color: #01d7db;
    font-weight: 700;
    width: 40%;
    margin-top: 4rem;
}
.contact-part button:hover{
    background-color: wheat;
}
.contact-right input,textarea{
    margin-bottom:2rem ;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    background-color:rgb(160, 160, 160);
}
input::placeholder,textarea::placeholder{
    color: white;
}
input[type="submit"]{
    width: 20%;
    padding: 1rem;
    border-radius: 0.7rem;
    background-color: #01d7db;
    color: black;
    font-weight: 700;
}
input[type="submit"]:hover{
    background-color: bisque;
}
footer{
    width: 100%;
    height: 3rem;
    background-color: #01d7db;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
